$colors: (
  "def-0": #ffffff,
  "def-1": #456dde,
  "def-2": #f2f1f250,
  "def-3": #f1f0f5,
  "def-4": #000000,
  "def-5": #f7f6f9,
  "def-6": #eaeaea,
  "def-7": #92ccff,
  "def-8": #60b4ff,
  "def-9": #eee,
  "def-10": #ddd,
);

$sizes: (
  "def-0": 11px,
  "def-1": 14px,
  "def-2": 16px,
  "def-3": 18px,
  "def-4": 20px,
  "def-5": 25px,
  "def-6": 30px,
);

$screens: (
  "def-1": 400px,
  "def-2": 600px,
  "def-3": 1130px,
);
